<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RunAtLoad</key>
	<true/>
	<key>Debug</key>
	<false/>
	<key>Label</key>
	<string>co.edgardeduardo.wallpaperd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/cambiar_fondo/wallpaperd</string>
	</array>
</dict>
</plist>
